<h1>Must login before access allowed to webpage</h1>

<form class="" action="/checkInfo" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <br>
  <input type="text" name="password" value="" placeholder="Password">
  <br>
  <input type="submit" name="enter" value="Login">
</form>
